body {
	margin-top: 160px;
	padding: 0;
	background-color: #b5b5b5;
	font-family: 'Poppins' , Tahoma;
}

nav {
	position: fixed;
	background-color: rgba(180,180,180,0.7);
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	padding: 40px 0 30px 0;
}

nav .title {
	float: left;
	padding: 0 0 0 50px;
	font-family: 'Lobster' , Tahoma;
}

nav img {
	display: inline-block;
	float: left;
	font-size: 20px;
	margin: 0;
	top: 15px;
	padding: 13px 8px 0 0;
}

nav h1 {
	color: black;
	display: inline-block;
}

nav ul {
	float: right;
	padding: 10px 50px 0 0;
	list-style: none;
}


nav li {
	display: inline-block;
	padding: 0 25px 0 25px;
}

nav a {
	text-decoration: none;
	color: black;
}

nav a:hover {
	color: #fff;
}

hr {
	width: 95%;
	border-color: black;
}

header {
	text-align: center;
	padding-top: 30px;
}

header span {
	color: red;
	font-weight: bold;
}

#banner {
	height: 520px;
	width: 95%;
	margin: 0 auto;
}

#banner img {
	width: 100%;
	border-radius: 40px;
}


#about {
	text-align: center;
	padding: 50px 50px 100px 50px;

}

#about div {
	width: 49%;
	height: 200px;
	display: inline-block;
}

#about div h2 {
	font-family: 'Lobster' , Tahoma;
	color: red;
	padding: 15px;
}

#about div p {
	padding: 0 20px 0 20px;
}

#work {
	width: 70%;
	height: 540px;
	margin: 0 auto;
	text-align: center;
}

#work .car {
	display: inline-block;
	width: 200px;
	height: 180px;
	border-radius: 10px;
	background-color: #fff;
	margin: 15px;
}

#work img {
	width: 100%;
	border-radius: 10px 10px 0 0;
}

#work .text {
	text-align: left;
	padding-left: 3%
}

#work h2 {
	color: black;
	font-size: 16px;
	line-height: 30px;
	margin: 0;
}

#work p {
	color: black;
	line-height: 10px;
	margin: 0;
}

#work h1 {
	font-family: 'Lobster' , Tahoma;
	color: red;
}

footer {
	height: 300px;
	background-color: black;
}

footer .contact {
	float: left;
	height: 250px;
	width: 40%;
	padding: 30px 0 0 20px;
}

footer .contact h1 {
	color: red;
	font-family: 'Lobster' , Tahoma;
}

footer .contact input {
	width: 95%;
	border: 1px solid transparent;
	border-radius: 3px;
}

footer .contact #three {
 	padding: 0 0 50px 0;
}

footer .contact .button {
	margin-top: 15px;
}
footer .contact .button button {
	background-color: black;
	color: white;
	font-weight: bold;
	border: none;
}

footer .social {
	float: right;
	padding: 130px 15px 0 0;
}

footer .social i {
	display: inline-block;
	color: red;
	padding: 15px;

}

@media(max-width: 721px) {
	body {
		margin-top: 210px;
	}

	nav {
		height: 130px;
	}

	nav ul {
		float: left;
	}
}

@media(max-width: 660px) {
	nav ul {
		float: left;
	}
}

@media(max-width: 1400px) {
	#banner {
		height: 320px;
	}
}

@media(max-width: 870px) {
	#banner {
		height: 200px;
	}
}

@media(max-width: 470px) {
	#banner {
		height: 90px;
	}
}

@media(max-width:900px) {
	#about div {
		width: 100%;
	}
}

@media(max-width: 1688px) {
	#work {
		height: 720px;
	}
}

@media(max-width: 1366px) {
	#work {
		height: 920px;
	}
}

@media(max-width: 1017px) {
	#work {
		height: 1200px;
	}
}

@media(max-width: 681px) {
	#work {
		height: 2250px;
	}
}

@media(max-width: 386px) {
	footer .social {
		float: left;
	}

	footer {
		height: 380px;
	}
}

@media(max-width: 385px) {
	footer .social {
		padding-top: 20px;
	}
}
